<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- .NET Framework 4.8 -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Selector de conexión activa -->
	<appSettings>
		<!-- Cambia "Docker" por "Local" en la otra PC si lo usas así -->
		<add key="ActiveDb" value="Docker"/>
		<!-- Nombre visible de la app (con ñ si quieres) -->
		<add key="AppTitulo" value="bd_A7_RubenCañizares — Suite MDI"/>
	</appSettings>

	<!-- Cadenas de conexión -->
	<connectionStrings>
		<add name="SqlDocker"
			 connectionString="Server=127.0.0.1,2333;Database=Ejemplo_SIN_Encripcion;User ID=sa;Password=ESCRIBE_TU_PASSWORD_AQUI;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />

		<!-- Local (si usas instancia Windows a 1433 con autenticación integrada) -->
		<add name="SqlLocal"
       connectionString="Server=localhost,1433;Database=Ejemplo_SIN_Encripcion;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>